.desc
  text-align: center

.logo
  margin: 40px auto
  margin-top: 20px
  width: 160px

.bio
  padding: 20px 60px
  font-size: 30px
  padding-bottom: 40px
  border-bottom: 26rpx solid #eee

.list-item
  display: flex
  justify-content: space-between
  align-items: center
  padding: 30px 40px
  border-bottom: 1px solid #eee

  .light
    color: #555
