.search-bar
  background: #fff
  margin: 35px 30px
  border-radius: 10px
  display: flex
  height: 100px
  padding: 20px
  align-items: center
  box-sizing: border-box
  transition: box-shadow 0.2s ease-in-out;
  color: #111111

  &_focus
    box-shadow: 5px 5px 15px rgba(0,0,0,.1);


  &-input
    height: 100%
    flex: 1


  .iconfont
    font-size: 50px
    width: 60px
