margin = 30px

.largetitle-left
  font-size: 56px
  margin-left: margin
  font-weight: 700
  color: black

.largetitle-container
  display: flex
  justify-content: space-between

.largetitle-right
  margin-right: margin
