
.poster
  position: fixed
  height: 100%
  width: 100%
  top: 0
  left: 0
  background-color: rgba(#000,0.7)
  overflow: scroll

  &-canvas
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

.poster-opreation
  position: fixed
  right: 50px
  bottom: 60px
  width: 90px
  height: 90px
  border-radius: 50%
  background: #36CA98
  box-shadow: 0 4px 12px rgba(0,0,0,.08), 0 0 1px rgba(1,0,0,.1)
  display:flex;
  justify-content:center;
  align-items:center;

  .icon
    width: 10px
    height: 10px
    background: white
    border-radius: 50%
    display: inline-block
    margin: 4px
