@import "../index/components/PhotoItem.styl"


.page-detail
  color: #fff
  height: 100vh
  box-sizing: border-box
  overflow: hidden
  &-image
    width: 100%

  .photos-item
    margin-top: 0

.meta
  padding: 10px 0
  position: absolute
  width: 100%
  bottom: 0
  left: 0
  background-color: rgba(#000,0.4)
  padding: 18px 24px;
  box-sizing: border-box
  transform: translate3d(0, 100%, 0);
  transition: transform 150ms ease-in

  &.slideShow
    transform: translate3d(0, 0, 0);

.author,
.social
  display: flex;
  align-items: center;
  justify-content: space-between
  font-weight: 400

.author
  &-avatar
    width: 64px;
    height: 64px;
    border: 4px solid #fff
    position: relative;
    display: inline-block;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    background-color: #999;

  &-name
    font-weight: bold

  .local-time
    font-size: 0.8em
    margin-top: 8px

.social
  padding-bottom: 10px
  align-items: flex-end
  // font-weight:
  .count
    font-weight: bold
    margin-right: 20px
    margin-left: 4px
    text-transform: uppercase

  &-left
    display: flex
    align-items: center
    height: 100%

  &-right
    text-align: center
    width: 64px
    height: 64px

.optional
  border-top: 4px solid #fff
  padding: 20px 0
  margin-top: 20px

.icon-gengduo
  font-size: 55px
  line-height: 55px


page
  background-color: #111
  position: relative
