@import './stylesheets/icon.styl'
@import './stylesheets/animate.styl'
@import './assets/fonts/font.styl'

page
  font-family: CircularPro


.full-page
  height: 100vh;
  overflow: hidden;
  display: flex
  flex-direction: column
  position: relative

scroll-view::-webkit-scrollbar
  display: none;

.flex-1
  flex: 1
  overflow: hidden

.full-height
  height: 100%
