@import './stylesheets/icon.styl'
@import './stylesheets/animate.styl'
@import './fonts/font.styl'

.full-page
  height: 100vh;
  overflow: hidden;
  display: flex
  flex-direction: column
  position: relative
  font-family: CircularPro, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

.flex-1
  flex: 1
  overflow: hidden

.full-height
  height: 100%
